body {
  /* background-color: red; */
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > #header {
  margin: 0;
  padding: 0;
}
.container > .todo_list {
  width: 100%;  
  flex-grow: 1;
  max-width: 1024px;
}
.container>.todo_list>.todo_item{
    display: flex;
    margin: 10px 0px;
}
.container>.todo_list>.todo_item>span{
    flex-grow: 1;
    padding: 0px 10px;
}
.container>.flex_wrapper{
    width: 100%; 
    display: flex;
}
.container>.flex_wrapper>button{
    flex-grow: 1    ;
    
}
